# Dependencies
node_modules

# Configs
Dockerfile
jest.*.ts
*.config.js
*.config.ts
*.html

# Caches
.eslintcache
.vscode
.next
out

# Testings
coverage
cypress

# Builds
build
dist

# Miscellaneous
.DS_Store
.env
.env.*
.npmrc
*-lock.json
*.lock
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.vercel
*.tsbuildinfo

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Types
global.d.ts
next-env.d.ts

# Ignores
.dockerignore
.prettierignore
.eslintignore
